<div class="">
    <h2 class="text-center">News</h2>

    <div *ngFor="let note of notes">
        <div class="card mb-2">
            <div class="card-header">
                {{note.title}}
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{note.content}}</p>
                    <footer class="blockquote-footer">{{note.author}}</footer>
                </blockquote>
            </div>
            <div class="card-footer text-muted">
                {{note.created}}
            </div>
        </div>
    </div>
</div>